/* 4. couleur de fond du body */
body {
    background-color: lightblue;
}
  /* 7. style pour la classe highlight */
    .highlight {
        color: blue;
        font-weight: bold;
    }
    /* 9. sélecteur de type pour les <li> */
li{
    color: green;
}
/* 10. sélecteur de class */
.special {
    border: 2px solid black;
    background-color: gray;
}
/* 11. sélecteur d'ID*/
#frist{
    background-color: yellow;
}

